{% extends 'base.html' %} # Расширение базового шаблона

# это попадает в блок title базового шаблона base.html
{% block title %}
    Menu
{% endblock %}


# это попадает в блок content базового шаблона base.html
{% block content %}
    <h2>Content from index.html</h2>

    {% include 'includes/navbar.html' %}

    <ul>
    {% for sign in signs %}
        <li><b><a href="{% url 'name_zodiac' sign_zodiac=sign %}">{{ forloop.counter }} {{ sign|title }}</a></b></li>
    {% endfor %}
    </ul>

    {% include 'includes/navbar.html' %}
{% endblock %}