{% extends 'base.html' %} # Расширение базового шаблона

{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href="{% static 'horoscope/css/index.css' %}">
{% endblock %}

# это попадает в блок title базового шаблона base.html
{% block title %}
    Types_signs
{% endblock %}


# это попадает в блок content базового шаблона base.html
{% block content %}

    {% include 'includes/navbar.html' %}

    <ul>
    {% for sign in signs %}
        <li><b><a href="{% url 'name_zodiac' sign_zodiac=sign %}">{{ sign|title }}</a></b></li>
    {% endfor %}
    </ul>
{% endblock %}