{% extends 'base.html' %} # Расширение базового шаблона

# это попадает в блок title базового шаблона base.html
{% block title %}
    Types
{% endblock %}


# это попадает в блок content базового шаблона base.html
{% block content %}
    <h2>Content from types.html</h2>

    {% include 'includes/navbar.html' %}

    <ul>
    {% for element in elements %}
        <li><b><a href="{% url 'get_signs_about_elements' element=element %}">{{ forloop.counter }} {{ element|title }}</a></b></li>
    {% endfor %}
    </ul>
{% endblock %}