{% extends "movie_app/base.html" %}

{% block title %}
    All movies
{% endblock %}


{% block content %}
	<h2>СПИСОК ФИЛЬМОВ</h2>
    <ul>
        {% for movie in movies %}
            <li>{{ movie.name }}: <a href={{ movie.get_url }}>просмотреть информацию</a></li>
        {% endfor %}
    </ul>

    <h3>Средний бюджет всех фильмов: {{ agg.budget__avg }}</h3>
    <h3>Максимальный рейтинг: {{ agg.rating__max }}%</h3>
    <h3>Минимальный рейтинг: {{ agg.rating__min }}%</h3>
    <h3>Всего фильмов: {{ total }}</h3>

{% endblock %}
